:root {
  --screen-top-padding: calc(60px + 2%);

  --animation-loading-background: loadingBackground 2s infinite ease-in-out;
  --animation-loading-color: loadingColor 2s infinite ease-in-out;
  
  --color-darker: #282c34;
  --color-shadow: rgba(0, 0, 0, 0.2);
  --color-light-gray-text: #aaa;
  --color-gray-text: rgb(104, 104, 104);
  --color-light-cream: #f7f7f7;
  --color-light-gray: #ddd;
  --color-light-gray-border: #ccc;
  --color-light-border: #f3f3f3;
  --color-light-blue: rgb(65, 142, 166);
}

@keyframes loadingBackground {
  0% {
    background-color: #ccc;
  }
  50% {
    background-color: #ddd;
  }
  100% {
    background-color: #ccc;
  }
}

@keyframes loadingColor {
  0% {
    color: var(--color-gray-text);
  }
  50% {
    color: #ccc;
  }
  100% {
    color: var(--color-gray-text);
  }

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  border-top: 1px solid var(--color-light-border);
  margin: 0.8em 0px;
  width: 100%;
}

input {
  padding: 10px;
  margin: 10px;
  font-size: 0.5em;
  border-radius: 5px;
  border: 1px solid var(--color-light-gray-border);
  background-color: white;
  color: var(--color-darker);
}

input:focus {
  outline: none;
  border: 1px solid var(--color-darker);
}

table {
  border-collapse: collapse;
  width: 100%;
  max-height: 500px;
}

thead {
  border-bottom: 2px solid var(--color-light-gray);
}

tr {
  border-bottom: 1px solid var(--color-light-gray);
}

tr:nth-child(even) {
  background-color: var(--color-light-cream);
}

th {
  font-size: 0.6em;
  padding: 6px 0px;
  text-align: left;
  width: 15%;
}

th:first-child {
  text-align: left;
  width: 70%;
}

td {
  text-align: center;
  font-size: 0.5em;
  padding: 10px;
  width: 15%;
}

td:first-child {
  color: var(--color-light-blue);
  text-align: left;
  font-weight: bold;
  width: 70%;
}

p {
  margin: 0;
}

#root {
  width: 100%;
}

#layout {
  background-color: white;
  color: black;
  margin: 0;
  text-align: center;
  height: 100%;
  width: 100%;
}

.screen {
  box-sizing: border-box;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: var(--screen-top-padding) 3% 40px 3%;
  width: 100%;
}

.pressable:hover {
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.end {
  justify-content: flex-end;
}

.spaced {
  justify-content: space-between;
}