.header {
  color: rgb(42, 138, 153);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* background-color: #f8f9fa; */
  border-bottom: 2px solid #e9ecef;
}

h5 {
  margin: 0;
}