#episode-detail-container { 
  align-items: flex-start;
  align-self: flex-start;
  border: 1px solid var(--color-light-gray-border);
  border-radius: 4px;
  box-shadow: 0 2px 6px var(--color-shadow);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  padding: 10px 16px;
  width: 72%;
}

#episode-detail-container h5 {
  margin: 10px 0px;
  padding: 0;
}

#episode-detail-container audio {
  margin-bottom: 1vw;
  width: 100%;
}

#episode-description {
  font-size: 0.5em;
  font-style: italic;
  margin: 0;
  text-align: left;
  width: 100%;
  white-space: preserve-breaks;
}