#episodes-list-container {
  align-self: flex-start;
  max-height: 100%;
  min-width: 200px;
  width: 72%;
  overflow: visible;
}

#list-header {
  align-items: center;
  border: 1px solid var(--color-light-gray-border);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 6px var(--color-shadow);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3vw;
  padding: 10px 1.4vw;
  width: 100%,
}

.pagination-controls {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.pagination-controls button {
  display: hidden;
  background-color: var(--color-light-border);
  border: none;
  border-radius: 2px;
  box-shadow: 0px 0px 3px 0px var(--color-shadow);
  color: var(--color-gray-text);
  cursor: pointer;
  font-size: calc(6px + 0.2em);
  font-weight: 600;
  padding: 0.5em 1em;
}

.pagination-controls button:disabled {
  /* Using app background instead of display:none to avoid pagination-controls layout change */
  background-color: var(--app-background-color);
  box-shadow: none;
  color: var(--app-background-color);
  cursor: default;
}

#episodes-list-container p {
  color: var(--color-light-gray-border);
  font-size: calc(3px + 0.4em);
  font-weight: 600;
}

#list-content {
  border: 1px solid var(--color-light-gray-border);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 6px var(--color-shadow);
  display: flex;
  margin: 10px 0;
  padding: 10px 1.4vw;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
