#episodes-list-container {
  max-height: 100%;
  min-width: 200px;
  width: 72%;
  overflow: visible;
}

#list-header {
  align-items: center;
  border: 1px solid var(--color-light-gray-border);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 6px var(--color-shadow);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 4vw;
  padding: 10px 1.4vw;
  width: 100%,
}

#list-content {
  border: 1px solid var(--color-light-gray-border);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 6px var(--color-shadow);
  display: flex;
  padding: 10px 1.4vw;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
